:root {
	/* SECTION COLOR VARS */
	--body-background-color: rgb(255, 255, 255);
	--navbar-bg-color: #ffffff;
	--navbar-drawer-bg-color: #ffffff;
	--section-background-color: #ffffff;
	--project-background-color: #ffffff;
	--footer-background-color: #b3ddc9ff;
	/* TEXT COLOR VARS */
	--body-text-color: #1c1c1c;
	--section-h3-font-color: #1c1c1c;
	--navbar-logo-color: #006613;
	--navbar-link-color: #006613;
	--navbar-link-hover-color: #006613;
	--footer-font-color: #1c1c1c;
	--contact-form-submit-font-color: #ffffff;
	--navbar-burger-color: #006613;
	/* FORM COLOR VARS */
	--contact-form-input-border-color: #006613;
	--contact-form-focus-border-color: #006613;
	--contact-form-submit-background-color: #006613;
	--contact-form-submit-border-color: #006613;
	/* NAV DIMENSION VARS */
	--navbar-height: 5rem;
}
@media screen and (max-width: 800px) {
	:root {
		--navbar-height: 70px;
		/* PROJECT DIMENSION VARS */
		--project-width: 70vw;
		--project-media-width: 69vw;
		--project-slide-width: 65vw;
		/* DIMENSION VARS */
		--tech-section-width: 90vw;
	}
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-size: 100%;
	font-family: 'Playfair Display', serif;
	color: var(--body-text-color);
	scroll-behavior: smooth;
}
@media (min-width: 0px) {
	body {
		font-size: 1.2rem;
	}
}
@media (min-width: 960px) {
	body {
		font-size: 1.3rem;
	}
}
@media (min-width: 1100px) {
	body {
		font-size: 1.4rem;
	}
}
h3 {
	font-size: 1.2rem !important;
}

/*-------NAVBAR-------*/
#navbar {
	background-color: var(--navbar-bg-color);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
	height: var(--navbar-height);
	width: 100%;
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}
.logo-img {
	height: var(--navbar-height);

	margin: 0 0 5px 20px;
}
.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-basis: 60%;
	padding: 0;
	margin: 0;
	width: inherit;
	height: inherit;
}
.item {
	list-style-type: none;
}
.item a {
	text-decoration: none;
	color: var(--navbar-link-color);
}
@media (hover: hover) {
	.item a:hover {
		color: var(--navbar-link-hover-color);
	} /* solves sticky problem */
}
@media (max-width: 800px) {
	#navbar .toggle {
		visibility: visible;
	}
	.menu {
		position: absolute;
		right: 0px;
		height: 100vh;
		top: var(--navbar-height);
		justify-content: flex-start;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
		background-color: var(--navbar-drawer-bg-color);
	}
	.item {
		padding: 30px 0 0 0;
	}
}
.menu.active {
	transform: translateX(0%);
}
/*-------NAVIGATION TOGGLE-------*/
.toggle {
	cursor: pointer;
	border: none;
	background-color: transparent;
	width: 40px;
	height: inherit;
	/* margin-left: auto; */
	margin-right: 3vw;
	float: right;
	display: block;
}
.toggle > * {
	pointer-events: none;
}
#navbar .toggle .burger-bar {
	display: block;
	width: 25px;
	height: 2px;
	margin: 5px;
	background-color: var(--navbar-burger-color);
	transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
		opacity 0.2s ease-in-out;
}
@media (hover: hover) {
	#navbar .toggle:hover .burger-bar {
		background-color: var(
			--navbar-link-hover-color
		); /* solves sticky problem */
	}
}
#navbar.open .toggle .burger-bar {
	position: absolute;
	margin: 0;
	width: 25px;
}
#navbar.open .toggle .burger-bar:first-child {
	transform: rotate(45deg);
}
#navbar.open .toggle .burger-bar:last-child {
	transform: rotate(-45deg);
}
@media (min-width: 800px) {
	.toggle {
		display: none;
	}
}
/*-------MAIN DIV-------*/
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*-------SECTION HEADINGS-------*/
section {
	width: 100vw;
}
section > div > h2 {
	max-height: 60px;
	width: 100vw;
	text-align: center;
	color: var(--section-h3-font-color);
}

section:before {
	content: '';
	display: block;
	height: 3rem;
}

/*-------LANDING-------*/
#landing {
	background-image: url(/imgs/photos/staten-island-therapuetic-gardens-photo-landing.jpg);
	opacity: 0.8;
}
.landing-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}
.landing-intro {
	width: 80vw;
	max-width: 8000px;
	max-height: 50vh;
	/* TEXT STYLING */
	text-align: center;
	overflow: hidden;
}
.landing-intro > h1 > span {
	background-color: #ffffff;
	margin: 0px;
	padding: 0.45rem;
}
/*-------ABOUT-------*/
.about-container {
	width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: auto;
	margin: auto;
}
.about-container > p {
	padding: 2rem;
}

/*-------CONTACT-------*/
.contact-container {
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	/* align-items: center; */
}
.contact-container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	align-self: center;
	text-align: center;
}

/*-------CONNECT-------*/
#connect {
	padding-bottom: 0 !important;
}
.connect-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: var(--section-border);
	overflow: hidden;
	min-height: 35vh !important;
}
.socials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.connect-item {
	margin: 20px 40px 20px 40px;
}
.connect-item a img {
	height: 75px;
	width: 75px;
}
/*-------FOOTER-------*/
footer {
	padding: 5px;
	margin: auto;
	margin-top: 0;
	display: flex;
	justify-content: center;
	color: rgb(54, 53, 53);
	font-size: 12px;
	background-color: var(--footer-background-color);
	color: var(--footer-font-color);
}
